.github/
.vscode/
coverage/
extension/
node_modules/
test/
.env
.commitlintrc
.editorconfig
.gitignore
.prettierrc
.simple-git-hooks.json
.stylelintrc
changelog.config.json
changelog.md
contributing.md
eslint.config.ts
pnpm-lock.yaml
tsconfig.json
vite.config.ts
vitest.config.ts
